<h4><i class="fa fa-list"></i> Logs</h4>
<div class="row">
  <div class="col-sm-8">
    <table class="logs-table table table-condensed">
      <thead>
        <tr>
          <th class="col-xs-3">#</th>
          <th class="col-xs-4">Time (ms)</th>
          <th class="col-xs-1">Pitch (X)</th>
          <th class="col-xs-1">Row (Y)</th>
          <th class="col-xs-1">Yaw(Z)</th>
          <th class="col-xs-1">Temp (ºC)</th>
          <th class="col-xs-1">Light (Lux)</th>
        </tr>
      </thead>
      <tbody height="120px">
        <tr ng-repeat="logMessage in vm.logsMessagesCollection">
          <td class="col-xs-3">{{logMessage.order}}</td>
          <td class="col-xs-4">{{logMessage.timestamp}}</td>
          <td class="col-xs-1">{{logMessage.pitch}}</td>
          <td class="col-xs-1">{{logMessage.row}}</td>
          <td class="col-xs-1">{{logMessage.yaw}}</td>
          <td class="col-xs-1">{{logMessage.temp}}</td>
          <td class="col-xs-1">{{logMessage.light}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-4">
    <table class="logs-chart-table table table-condensed">
      <thead>
        <tr>
          <th>Porcentaje</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="logs-chart-container">
              <canvas id="logs-chart"></canvas>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <button type="button" ng-click="vm.mockData()">Button</button>
</div>
